.banner{
  background-size: cover;
  background-position: center;
  padding: 200px 50px;

}

.banner h1{
  color: white;
}

.banner p{
  color: #d0c1c1;
  opacity: .8;
}

.info{
  width: 838px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: flex-start;
}
